<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/stilo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/static/imagenes/airplane_14718.ico">
    <script src="static/js/script.js"></script>
    <title>TurismoViaje</title>
</head>
<body>
    <nav class="barra">    
        <div class="verde">
            <h1>Bienvenido al Registro de Consultas.</h1>
            <a href="{{ url_for('create') }}"><p>Crear Consulta</p></a>
        </div>
                     
        <section class="carrusel">
            <div class="primerCarrusel">
                <img src="/static/imagenes/avion.jpg" alt="avion">
                <img src="/static/imagenes/TILCARA-PORTADA-3.jpg" alt="">
                <img src="/static/imagenes/coliseo-roma_2924b6ae_1280x720.jpg" alt="">
            </div>
            <div class="carrusel-buttons">             
                <button class="carrusel-button" onclick="prevSlide()">❮</button>
                <button class="carrusel-button" onclick="nextSlide()">❯</button>
            </div>
        </section>     
    </nav>   
    <div class="container">
        <main class="mainMedio">
            <section class="medio">
                <ul>
                    <li>Viaja de la manera mas segura.</li>
                    <li>Nuevos paquetes turisticos.</li>
                    <li>Promocion a Brasil.</li>
                </ul>
            </section>
            <section class="bajo">
                <ul>
                    {% for empleado in empleados %}
                        <li>
                            {{ empleado[0] }} - {{ empleado[1] }} - {{ empleado[2] }} - {{ empleado[3] }} - {{ empleado[4] }}
                            <a href="{{ url_for('delete', correo=empleado[1]) }}">Eliminar</a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        </main>
        <aside class="segundomain">
            <div class="image-container">
                <div class="slide active">
                    <img src="/static/imagenes/Rio-de-Janeiro-2020.jpg" alt="Rio de Janeiro">
                    <div class="caption">Ofertas Rio de Janeiro</div>
                </div>
                <div class="slide">
                    <img src="/static/imagenes/csm_Iguazu-2000-750-mehr-himmel_ca8d1a0170.jpg" alt="Iguazu">
                    <div class="caption">Iguazu</div>
                </div>
                <div class="slide">
                    <img src="/static/imagenes/santacruz.jpg" alt="Santa Cruz">
                    <div class="caption">Santa Cruz</div>
                </div>
            </div>
        </aside>
    </div> 
    <footer>
        <div class="footer-container">
            <div class="footer-section about">
                <h2>Sobre Nosotros</h2>
                <p>Servicios de vuelos nacionales e internacionales.</p>
            </div>
            <div class="footer-section links">
                <h2>Enlaces Rápidos</h2>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Acerca de</a></li>
                </ul>
            </div>
            <div class="footer-section contact">
                <h1>Registro</h1>
                <a href="{{ url_for('create') }}">CONTACTATE CON NOSOTROS.</a>
                <p>Email: turismoViaje@ejemplo.com</p>
                <p>Teléfono: +123 456 789</p>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2024 Trabajo Practico | Todos los derechos reservados
        </div>
    </footer> 
</body>
</html>
